@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
  font-size: var(--font-m);
  background:  var(--bg-color);
  color:  var(--primary-color);

  min-height: 100vh;
}

.button {
  padding: var(--padding-m) var(--padding-l);
  border-radius: var(--border-radius);
  margin: 0 var(--margin-m);
  font-weight: 700;
  color: var(--bg-color);
  background: var(--primary-color);
  border: none;
  outline: none;
}

h1 {
  margin: var(--margin-m);
}