.Button {
  cursor: pointer;
  color: var(--inverted-primary-color);
}

.clear {
  margin: 0;
  padding: 0;
  border: none;

  background: none;
  outline: none;
}

.action {
  border: none;
  border-radius: var(--border-radius);

  font-weight: 700;
  color: var(--primary-color);

  background: var(--bg-color);
  outline: none;
}

.small {
  padding: var(--padding-s) var(--padding-s);
}

.medium {
  padding: var(--padding-m) var(--padding-m);
}

.large {
  padding: var(--padding-l) var(--padding-l);
}
