.Button {
  cursor: pointer;
}

.clear {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

.action {
  border-radius: var(--border-radius);
  font-weight: 700;
  color: var(--primary-color);
  background: var(--bg-color);
  border: none;
  outline: none;
}

.small {
  padding: var(--padding-s) var(--padding-s);
}

.medium {
  padding: var(--padding-m) var(--padding-m);
}

.large {
  padding: var(--padding-l) var(--padding-l);
}




