.app.dark {
  --bg-color: #624c5a;
  --inverted-bg-color: #e5f1dd;
  --primary-color: #e5f1dd;
  --inverted-primary-color: #624c5a;
  --secondary-color: #d1f0b1;
  --inverted-secondary-color: #4e4060;
}
