.app.normal {
  --bg-color: #e5f1dd;
  --inverted-bg-color: #4f3439;
  --primary-color: #624c5a;
  --inverted-primary-color: #e5f1dd;
  --secondary-color: #4e4060;
  --inverted-secondary-color: #d1f0b1;
}
