.Navbar {
  width: 100%;
  height: var(--navbar-height);
  padding: var(--padding-m) var(--padding-l);

  background:  var(--inverted-bg-color);
  color:  var(--inverted-primary-color);
  margin-bottom: var(--margin-l);
}

.links {
  text-align: left;
}

.link {
  margin: 0 var(--padding-m);
}