.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: var(--navbar-height);
  padding: 0 var(--padding-l);

  background:  var(--inverted-bg-color);
  color:  var(--inverted-primary-color);
}

.links {
}

.link {
  margin: 0 var(--padding-m);
  font: var(--font-l);
}